

<h1>These are instructions to run the application locally</h1>

<p>Run docker image docker pull paulinewade/csce431:latest

Create a directory, for example mkdir csce431

Move to that directory cd csce431

Mount and run the docker image for ubuntu: (add “sudo” in front of if permission denied for all the following commands)

docker run -it --volume "$(pwd):/csce431" -e DATABASE_USER=test_app -e DATABASE_PASSWORD=test_password -p 3000:3000 paulinewade/csce431:latest

You should now be in the docker container

Run the following code in ubuntu command line within the docter container

git clone [https://github.com/FA21-CSCE431/project-sprint-3-zlp-interviewer.git]   (https://github.com/SP23-CSCE431/csce431-sprints-kanm-radio.git) or git clone [https://github.com/FA21-CSCE431/project-final-code-zlp-interviewer/] (https://github.com/SP23-CSCE431/csce431-sprints-kanm-radio.git)

cd csce431-sprints-kanm-radio

docker run --rm -it --volume "$(pwd):/rails_app" -e DATABASE_USER=test_app -e DATABASE_PASSWORD=test_password -p 3000:3000 dmartinez05/ruby_rails_postgresql:latest

Install the app

bundle install && rails webpacker:install && rails db:create && db:migrate

Run the app rails server --binding:0.0.0.0

The application can be seen using a browser and navigating to http://localhost:3000/members</p>
<h1>Bellow are instructions to deploy the application on heroku</h1>