<div id="<%= dom_id officer %>">
  <p>
    <strong>Member:</strong>
    <%= officer.member_id %>
  </p>

  <p>
    <strong>Positiontitle:</strong>
    <%= officer.positionTitle %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= officer.picture %>
  </p>

</div>
