<h1>Editing show host</h1>

<%= render "form", show_host: @show_host %>

<br>

<div>
  <%= link_to "Show this show host", @show_host %> |
  <%= link_to "Back to show hosts", show_hosts_path %>
</div>
