<div id="<%= dom_id calendar %>">
  <p>
    <strong>Show:</strong>
    <%= calendar.show_id %>
  </p>

  <p>
    <strong>Timeslot:</strong>
    <%= calendar.timeslot %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= calendar.active %>
  </p>

</div>
